<!DOCTYPE html>
<html>
<head>
  <title>ContentPlanning</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>
<div class="container col-lg-12">
  <% if user_signed_in? %>
      <%= render partial: 'layouts/header' %>
  <% end %>
</div>

    <div class="col-md-3">
      <!--<input id="input-700" name="kartik-input-700" type="file" multiple=true class="file-loading" data-upload-url="/site/file-upload" data-max-file-count="10">-->
    </div>
    <div class="col-md-6">
      <div class="header">

      </div>
      <div class="body">
        <%= yield %>
      </div>
      <div class="footer">

      </div>
    </div>
    <div class="col-md-3">
    </div>

</body>
</html>
